body{
    width:100px;
    height: 500px;
    background-image: url(https://lh3.googleusercontent.com/O1tFOoB_yvvPJtHjrGl74B3bZ1Oi1NdMfNC_NUWbd_EOL8TrC56apiFICG-rPwAOtAEipg=s128);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    cursor:auto;
}