html{
    font-family: 'Poppins';
}

body{
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;
}

/* Navbar */
#navcontainer {
    display: grid;
    grid-template-columns: 20% 20% 5% 8% 8% 12% 4% 8% 15%;
    background-color: rgb(0, 0, 0);
    height: 4vh;
    color: white;
    padding-top: 1vh;
    font-size: 12px;
    top: 0px;
    z-index: 200;
    position: fixed;
    top: 0;
    width: 100%;
}

#imagenlogo{
    height: 4vh;
    float: right;
    width: 8.5vh;
}

#item1{
    padding-top: 0px;
}

#item2{
    padding-top: 10px;
    color: orangered;
    font-size: 10px;
}

#item3{
    padding-top: 4px;
}

#item4{
    padding-top: 4px;
}

#item5{
    padding-top: 4px;
}

#item6{
    padding-top: 4px;
}

#item7{
    padding-top: 4px;
}

#item8{
    padding-top: 4px;
}

/* Foto Inicial + Unirse */
#headerImage {
    background-image: url("https://i.ibb.co/NSmMXBt/Back-min.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    box-shadow: inset 0 -50px 50px -10px #000000;
}

.headerButton {
    text-align: center;
    background-color: #FF4700;
    color: seashell;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Poppins';
    border-radius: 7px;
    border: 3px solid white;
    cursor: pointer;
    width: 25vw;
    margin: 0 auto;
    display: block;
    padding: 15px 0;
}
.headerText {
    text-align: center;
    color: #FF4700;
    font-size: 19px;
    font-family: 'Poppins';
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 7px;
}

.headerTitle {
    text-align: center;
    color: white;
    font-size: 47px;
    font-weight: bold;
    font-family: 'Poppins';
    margin: 0;
    padding: 5% 0;
}
/*grid proyecto para colaborar*/
#gridproyecto{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100% ;
}
.gridtext{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}
.gridfoto{
    margin-left: 5%;
    margin-top: 11%;
    width: 56vh;
    height: 52vh;
}
.h1color{
    color:#FF4700;
    font-size: 23px;
    text-decoration:underline;
}
.h2color{
    color:#FF4700;
    font-size: 16px;
    text-decoration:underline;
}
.pcolor{
    color: white;
    font-size: 16px;
}
#margintop{
    margin-top: 5%;
}
.teamers{
    background: white;
    color: black; 
    border: orangered 3px solid;
    width:  300px;
    height: 50px;
    text-align: center;
    font-family: 'Poppins'; 
    font-size: 18px; 
    padding: 12px;
}
.cajarecaudacion{
    background: white;
    color: black; 
    border: orangered 3px solid;
    width:  300px;
    height: 250px;
    font-family: 'Poppins';
    font-size: 13px; 
    padding: 15px;
    
}
.don1{
    margin-top: -5%;

    color: red;
}
.don2{
    margin-top: -5%;

    color: green;
}
.don3{
    margin-top: -5%;
    color:black;
}
.link{
    font-size: 13px; 
    font-weight: 400; 
    font-family: 'Poppins';
    width: 100%;
    text-align: center;
    display: block;
}



/* Caja Recaudacion*/
.box{
    background: white;
    color: black; 
    border: black 1px solid;
    border-radius: 5px;
    width:  420px;
    height: 300px;
    margin-top: 10vh;
}
#line{
    background: black;
    height: 1px;

}
#title{
    font-family: 'Poppins';
    font-size: 18px;
    padding: 15px;
}
#text{
    font-family: 'Poppins';
    font-size: 14px;
    padding: 15px;
}
.info{
    background:orangered;  
    display:block;
    margin-left: auto;
    margin-right: auto;
    color: black; 
    border: black 1px solid;
    border-radius: 5px;
    width:  200px;
    height: 30px;
    font-family: 'Poppins';
    font-size: 14px;
}



