html{
    font-family: 'Poppins';
}
body{
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;
}

#headerImage {
    background-image: url("https://previews.dropbox.com/p/thumb/AAse_7tmdGIP7WxXHGeQGCEeQQf7hwbWhbCYQPk-CXPWM1dyq0EcdWIENFpP1uofXwzWpHSk5YZOH52r2ZwAMtj_LgazuC6CwY-rJOXHTkUyXlPkGWKHjYgq3gzl8IsRnY-nAkqvGhldo7u9DwwbHKkn_nOG2Fys1_uxUBWhEnSO8Fio4bZl6uWz2zX2b5HLWElPaPfJe1B5RhHrwSY4x1XP3g8_mThAqlK_cJ-JHebHba4BiAOxRyuguzvQNbp4i-RTdqXVIoBnQF2KEfaQPzIftoQlN2OfQ5ATeW4mHmY2OFl-Va-qnzKVgwHA2DyiV9Bd15qcHjMkbeNQ6_oD6xHg/p.jpeg?fv_content=true&size_mode=5");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    box-shadow: inset 0 -50px 50px -10px #000000;
}

.headerButton {
    text-align: center;
    background-color: #FF4700;
    color: seashell;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Poppins';
    border-radius: 7px;
    border: 3px solid white;
    cursor: pointer;
    width: 25vw;
    margin: 0 auto;
    display: block;
    padding: 15px 0;
}


/*.grande {
    background-color: black;
    border-radius: 24px 24px 24px 24px;
    opacity: 0.5;  
}*/

.headerText {
    text-align: center;
    color: #FF4700;
    font-size: 19px;
    font-family: 'Poppins';
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 7px;
}

.headerTitle {
    text-align: center;
    color: white;
    font-size: 47px;
    font-weight: bold;
    font-family: 'Poppins';
    margin: 0;
    padding: 2% 0;
}




