body{
    background: black;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.teamers{
    background: white;
    color: black; 
    border: orangered 3px solid;
    width:  300px;
    height: 50px;
    text-align: center;
    font-family: 'Poppins'; 
    font-size: 18px; 
    padding: 12px;
}
.box{
    background: white;
    color: black; 
    border: orangered 3px solid;
    width:  300px;
    height: 250px;
    font-family: 'Poppins';
    font-size: 13px; 
    padding: 15px;
}
.don1{
    margin-top: -5%;

    color: red;
}
.don2{
    margin-top: -5%;

    color: green;
}
.don3{
    margin-top: -5%;
    color:black;
}
.link{
    font-size: 13px; 
    font-weight: 400; 
    font-family: 'Poppins';
    width: 100%;
    text-align: center;
    display: block;
}